// Place all the styles related to the snaps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#columns {
	column-width: 310px;
	column-gap: 8px;
  width: 95%;
	max-width: 1100px;
	margin: 50px auto;
}

div#columns figure {
	background: #fefefe;
	border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	padding: 15px;
	padding-bottom: 15px;
	transition: opacity .4s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;
  border-radius: 10px;
}

div#columns figure img {
	width: 300px;
  max-height: 500px;
}
div#columns:hover figure:not(:hover) {
	opacity: 0.4;
}

@media screen and (max-width: 750px) {
  #columns { column-gap: 0px; }
  #columns figure { width: 100%; }
}

.pictureshow img {
  width: 300px;
  max-height: 500px;
}

.showpageicons {
  font-size: 2.8em;
  color: #9a8d72;
}
.showpageicons:hover {
  color: #96896f;
}
