// Place all the styles related to the snaps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.snap-pic {
  box-shadow: 1px solid #9a8d72;
  width: 1216px;
  // height: 270px;
  // display: flex;
  // flex-flow: column wrap;
  // justify-content: flex-start;
  // align-items: flex-start;
}

// #masonry-container > .box {
//   width: 300px;
// }
//
// .box {
//   height: 100px;
// }

#masonry {
	display: -ms-flexbox;
	-ms-flex-direction: column;
	-ms-flex-wrap: wrap;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 100vw;
	font-size: 0;
}
div#masonry img {
	width: 300px;
	transition: .8s opacity;
}
div#masonry:hover img {
	opacity: 0.5;
}
div#masonry:hover img:hover {
	opacity: 1;
}
